header > div > img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 50% 99%;
}

#main {
    width: 92%;
    height: 98vh;
    margin: 0 3% 0 3%;
}

h1 {
    margin-left: 14%;
}

/*
Tarjeta
*/
.tarjeta-grande {
    background-color: #ECE3D0;
    position: absolute;
    left: 15%;
    width: 800px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

ul li{
    list-style: none;
}
li {
    margin-bottom: 13%;
}

.pedido {
    height: 250px;
    margin-left: 3%;
}

.datos{
    flex: 1;
}

.pedido, .datos {
    margin-top: 10%;
}

input[type=text]{
    width: 80%;
    margin-bottom: 15px;
    padding: 10px 0 10px 10px;
}

input[type=submit] {
    color: #DC6421;
    background-color: #FFFFFF;
    border: 2px solid #DC6421;
    padding: 6px 15px 7px 15px;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    margin-right: 35px;
}

.tarjeta-grande > p {
    margin: 0 0 3% 3%;
}


/*
Mobile
*/

@media screen and (max-width: 600px) {

    header > div > img {
        width: 100%;
        height: 120px;
        object-fit: cover;
        object-position: 50% 99%;
    }

    #main {
        width: 100%;
        height: 70vh;
        margin: 0;
    }

    .tarjeta-grande {
        left: 5px;
        width: 380px;
        height: 360px;
    }

    .pedido {
        height: 250px;
        width: 150px;
        margin-left: 2px;
    }

    .datos{
        margin-right: 100px;
    }

    li {
        font-size: 18px;
        margin: 10px 0 30px 0;
    }

    .tarjeta-grande > p {
        margin: 0 0 15px 0;
    }

    input[type=text]{
        width: 87%;
        margin-bottom: 15px;
        padding: 8px 0 8px 8px;
    }
    
    input[type=submit] {
        padding: 3px 10px 4px 10px;
        font-size: 16px;

    }
}