body{
    background-color: #ECE3D0;
}

.nos-tarjeta {
    height: 500px;
    width: 58%;
    border: 2px solid #DC6421;
    border-radius: 20px;
    margin-bottom: 3%;
    margin-left: 22%;
    margin-top: 3%;
}

h1{
    text-align: center;
    margin-top: 5%;
}

.tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 7% 5% 0% 5%;
    
}

h2 {
    margin-top: 10px;
}

.linea {
    width: 338px;
    height: 2px;
    background-color: black;
}

/*
Movil
*/

@media screen and (max-width: 600px)  {
    .linea {
        width: 200px;
        height: 2px;
        background-color: black;
    }
}